body {
    margin: 0;
    padding: 0;
}

h3 > span {
    color: #636363;
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

.chat-buffer-list {
    background-color:#FFFAFA;
    filter: drop-shadow(4px 0 32px rgba(0,0,0,.25));
    padding: 0;
}

.chat-buffer {
    background-color: #F5F5F5;
    width: 90%;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    border-radius: 0 8px 8px 0;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
}

.chat-buffer > * {
    margin-left: 5px;
}

.chat-buffer > h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden; 
    overflow-y: hidden ;
}

.profile-pic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.chat-space {
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.message-box-submit {    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    background-image: url("assets/img/new-send-icon.png");
    background-size: cover;
    background-position: center;
}



.message-info > * {
    margin-left: 10px;
}

.profile-info {
    background-color: #FFFFFF;
    filter: drop-shadow(4px 0 32px rgba(0,0,0,.25));
}