body {
    margin: 0;
    padding: 0;
}

h3 > span {
    color: #636363;
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

.chat-buffer-list {
    background-color:#FFFAFA;
    filter: drop-shadow(4px 0 32px rgba(0,0,0,.25));
    padding: 0;
}

.chat-buffer {
    background-color: #F5F5F5;
    width: 90%;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    border-radius: 0 8px 8px 0;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
}

.chat-buffer > * {
    margin-left: 5px;
}

.chat-buffer-inside {
    text-align: center;
    align-items: center;
}

.chat-buffer > h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.chat-buffer:hover {
    background-color: lightgray;
}

.profile-pic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.chat-space {
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.message-box-submit {    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    background-image: url("assets/img/new-send-icon.png");
    background-size: cover;
    background-position: center;
}

.message-info > * {
    margin-left: 10px;
}

.icon {
    padding: 0.5rem 0 0 15px !important;
}



.profile-info {
    background-color: #FFFFFF;
    filter: drop-shadow(4px 0 32px rgba(0,0,0,.25));
}

.registration-area, .login-area {
    background-color: #FAF9F6;
}

.register-form-con, .login-form-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register-form, .login-form {
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
}

.register-form {
    height: 60%;
}

.login-form {
    height: 50%;
}

.register-form > *, .login-form > * {
    margin: 15px 0 0 10px;
    width: 96%;
}

.register-form > input {
    height: 10%;
    padding-left: 10px;
    border-radius: 15px;
}

.login-form > input {
    height: 12%;
    padding-left: 10px;
    border-radius: 15px;
}

.register-form > label, .login-form > label {
    font-size: 1.5rem;
}

.submit-button {
    background-color: #5cb85c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.friend-request-buttons {
    display: flex;
    gap: 10px;
    margin: 0;
}
  
.accept-input, .decline-input {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.2s ease-in-out;
}
  
.accept-input {
    background-color: #4CAF50; /* Green */
}
  
.decline-input {
    background-color: #f44336; /* Red */
}
  
.accept-button:hover, .decline-button:hover {
    background-color: #555; /* Dark grey */
}

.h-70 {
    height: 80%;
}

a {
    color: black !important;
    text-decoration: none !important;
}

@media screen and (min-width: 960px) {
    .h-lg-85 {
        height: 85%;
    }
}
